body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 450px;
    border: 3px solid purple;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px white;
    padding-bottom: 20px;
}

img {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 450px; 
}

p {
    width: 450px; 
    display: block;
    margin: auto;
    padding-bottom: 5px;
}
